.productContainer {
    max-width: 600px;
    
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    height: 500px;
    margin:40px auto;
    width: 600px;
  }
  
  .formTitle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .formInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .formButton {
    padding: 12px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .formButton:hover {
    background-color: #005bb5;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  